body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #e7dcdc;
}
label{
    display: flex;
    gap: 10px;
}


